.container {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  border-radius: 8px;
  width: 100%;
  max-width: 288px;
  padding: 1em 10px 2em 10px;
  margin: 0 auto;
}

.QR {
  height: 100%;
  width: 100%;
  max-width: 270px;
  max-height: 370px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.title {
  font-size: 17px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 0 2em;
}

.description {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: hsl(212, 12%, 59%);
  font-size: 14px;
  padding: 0 2em 0 2em;
}

body {
  background-color: rgb(131, 186, 234);
  padding: 3em 1em 0 1em;
}
