.container {
  background-color: hsl(0, 39%, 67%);
  position: relative;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.QR {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

.title {
  font-size: 35px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 0 8px;
}

.description {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: hsl(212, 45%, 89%);
}
